.greetingContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 16px;
}

.greetingIcon {
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.greetingIcon.morning {
    background-image: url('../../../../assets/icons/day.svg');
}

.greetingIcon.evening {
    background-image: url('../../../../assets/icons/night.svg');
}

.greetingText {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: inline;
}