
.main {
    display: flex;
    flex-direction: column;
    background-size: cover;
    padding-left: 7%;
    padding-right: 7%;
    position: relative;
    padding-top: 32px;
    max-height: 100vh;
}

.main.morning {
    background-image: url('../../assets/mobile/bg-image-daytime.jpg');
}

.main.evening {
    background-image: url('../../assets/mobile/bg-image-nighttime.jpg');
}

.increaseHeader {
    padding-top: 99px;
}

.darkDiv {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.lightDiv {
    z-index: 2;
}