.main {
    display: flex;
    flex-direction: column;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 32px;
    height: 100vh;
}

.increaseHeader {
    padding-top: 99px;
}

.lightDiv {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}